.place__image {
    width: calc(100% + 2rem);
    padding-top: 1rem;
    margin: 0 -1rem;
}

@media screen and (min-width: 768px) {
  .place__image {
    width: 100%;
    max-width: 340px;
    max-height: 340px;
    margin: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 832px) {
  .place__image {
    max-width: 370px;
    max-height: 370px;
  }
}

@media screen and (min-width: 896px) {
  .place__image {
    max-width: 410px;
    max-height: 410px;
  }
}

@media screen and (min-width: 960px) {
  .place__image {
    max-width: 425px;
    max-height: 425px;
  }
}

@media screen and (min-width: 1024px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
  }
}

@media screen and (min-width: 1152px) {
  .header__logo {
    max-width: 450px;
    max-height: 450px;
  }
}

@media screen and (min-width: 1280px) {
  .place__image {
    max-width: 460px;
    max-height: 460px;
  }
}