.header__lang {
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;
  margin-left: 16px;
  text-decoration: none;
}

@media screen and (min-width: 425px) {
  .header__lang {
    font-size: 19px;
    line-height: 18px;
  }
}

@media screen and (min-width: 512px) {
  .header__lang {
    font-size: 20px;
    line-height: 19px;
  }
}

@media screen and (min-width: 640px) {
  .header__lang {
    font-size: 22px;
    line-height: 21px;
  }
}

@media screen and (min-width: 768px) {
  .header__lang {
    font-size: 24px;
    line-height: 23px;
  }
}