.header__logo {
  width: 142px;
  height: 42px;
}

@media screen and (min-width: 425px) {
  .header__logo {
    width: 150px;
    height: 44px;
  }
}

@media screen and (min-width: 512px) {
  .header__logo {
    width: 159px;
    height: 46px;
  }
}

@media screen and (min-width: 640px) {
  .header__logo {
    width: 168px;
    height: 49px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 177px;
    height: 52px;
  }
}