.intro__quote {
  margin: 0;
  font-size: 1rem;
  line-height: 1.7em;
  padding-top: 0.65rem;
  padding-bottom: 0.6rem;
}

@media screen and (min-width: 425px) {
  .intro__quote {
    font-size: 0.95rem;
  }
}

@media screen and (min-width: 512px) {
  .intro__quote {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 640px) {
  .intro__quote {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 768px) {
  .intro__quote {
    font-size: 0.875rem;
    padding-bottom: 0.3rem;
    max-width: 45rem;
  }  
}

@media screen and (min-width: 1024px) {
  .intro__quote {
    max-width: 43.25rem;
    padding-bottom: 0;
  }  
}




