.lead__title {
  font-size: 2.5rem;
  line-height: 2.75rem;
  font-weight: 900;
  padding-bottom: 0.4rem;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 425px) {
  .lead__title {
    font-size: 3.5rem;
    line-height: 3.2rem;
    padding-bottom: 0.6rem;
  }
}

@media screen and (min-width: 512px) {
  .lead__title {
    font-size: 4.5rem;
    line-height: 4.2rem;
    padding-bottom: 0.75rem;
  }
}

@media screen and (min-width: 640px) {
  .lead__title {
    font-size: 5.5rem;
    line-height: 5.2rem;
    padding-bottom: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 6rem;
    line-height: 5.8125rem;
    padding-bottom: 1rem;
  }  
}