.cover__opacity {
  overflow: hidden;
  position: relative;
}

.cover__opacity::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: .3;
}

@media screen and (min-width: 1024px) {
  .cover__opacity:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .8;
  }
}